.app-container {
  width: 80%;
  margin: 2em auto;
  background-color: rgb(185, 139, 139);
  padding: 2em;
  border-radius: 0.5em;
}
.app-title {
  text-align: center;
}

/* FORM */
.form-container {
  width: 50%;
  margin: 2em auto;
}

.users-list {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* SINGLE USER
 */

.single-user-edit {
  width: 18em;
}
.card {
  height: 15em;
}
